.gameboard {
    display: grid;
    grid-template-columns: 84px 84px 84px;
    grid-template-rows: 84px 84px 84px;
    font-size: 36px;
    margin-top: 5px;
}
.gameboard div {
    border: 2px solid;
}
input {
    margin: 10px;
}

#display {
    height: 60px;
    width: 248px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#clear {
    height: 60px;
    width: 248px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#start {
    display: inline;
}